<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
        <string>fetch</string>
        <string>location</string>
        <string>processing</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>We need access to the camera for face tracking</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to the microphone for recording audio</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location while the app is in use</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need access to your location at all times</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location to provide better service even when the app is in the background.</string>
</dict>
</plist>
